{{#> layout currentPage="Blog"}}

<!-- BLOG LIST -->
<main>
  <h1 style="text-align: center; margin-top: 30px;">My Blogs</h1>
  <div style="width: 90%; margin: 10px auto; text-align: right;">
    <a href="/blog-create" class="blog-post-button">Create Blog</a>
  </div>
  <section id="blogList" class="blog-list">
    <article class="blog-item">
      <div class="blog-item-img">
        <img src="/img/blog-img.png" alt="" />
      </div>
      <div class="blog-item-text">
        <div class="blog-item-buttons">
          <button class="blog-edit-button">Edit Blog</button>
          <button class="blog-post-button">Post Blog</button>
        </div>
        <a href="blog-detail.html" style="text-decoration: none">
          <h1 class="blog-item-title">Pasar Coding di Indonesia</h1>
        </a>
        <p>30 Jan 2025 11:22 WIB | Alex Josua</p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          nostrum assumenda, voluptates maiores sequi quisquam pariatur
          voluptatem non consequuntur dolor architecto, unde magni enim
          itaque. Nostrum quod veniam quaerat modi ducimus accusamus dolorem,
          repellat iusto, autem, ex in nesciunt eos mollitia quo numquam
          deserunt pariatur aut fugiat id maiores enim.
        </p>
        <p class="blog-item-relative-time">1 day ago</p>
      </div>
    </article>

    {{#each blogs}}
    <article class="blog-item">
      <div class="blog-item-img">
        <img src="{{this.image}}" alt="" />
      </div>
      <div class="blog-item-text">
        <div class="blog-item-buttons">
          <button class="blog-edit-button">Edit Blog</button>
          <button class="blog-post-button">Post Blog</button>
        </div>
        <a href="/blog-detail" style="text-decoration: none">
          <h1 class="blog-item-title">{{this.title}}</h1>
        </a>
        <p>{{formatDateToWIB this.postedAt}} | {{this.author}}</p>
        <p>
          {{this.content}}
        </p>
        <p class="blog-item-relative-time">{{getRelativeTime this.postedAt}}</p>
      </div>
    </article>
    {{/each}}
  </section>
</main>

{{!--
<script src="/js/blog.js"></script> --}}

{{/layout}}